<% provide :body_id, 'simple_help' %>
<% provide :title, 'Simple Help' %>

<ol class="breadcrumb">
  <li>
    <%= link_to 'Help', help_path %>
  </li>
  <li class="active">Simple Help</li>
</ol>

<div class="psap-page-title">
  <h1>Simple Help</h1>
</div>

<p>Simple Help provides basic assistance for answering assessment questions. This document is a compilation of all possible questions that might be asked about a resource. Many of the questions are dependent on prior responses, and so they will not <em>necessarily</em> be asked during your assessment. For more in-depth assistance with assessment questions, please see <%= link_to 'Advanced Help', advanced_help_path %>.</p>

<h2>Institution Question Help</h2>
<table class="table">
  <thead>
    <tr>
      <th>Assessment Question</th>
      <th>Help</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>Does your institution have policies to guide what materials (in terms of content and formats) it collects?</td>
    <td>Having a policy to guide what materials you collect and how you collect them can help you focus your efforts and funds with regards to preservation. If you have such a policy, click "Yes" and if not, click "No". A collection development policy or mission statement can help an organization determine the kinds of materials it collects, both in terms of content and object type. It can help prevent one from collecting materials that would be better suited elsewhere. Click through to learn more about collection development policies.</td>
  </tr>
  <tr>
    <td>Does your institution have a preservation plan for its collections?</td>
    <td>Having a comprehensive plan for how you will allocate funds and time toward the preservation of your materials will help you make targeted and informed decisions about your materials. If you have such a plan click "Yes" and if you do not, click "No". Click through for information on preservation planning.</td>
  </tr>
  <tr>
    <td>Does your preservation plan contain information about preserving distinct formats and/or materials?</td>
    <td>If your preservation plan addresses format/material groups, click "Yes" and if not, click "No". If you have no preservation plan at all, click "No". Click through to learn more about format-specific preservation planning.</td>
  </tr>
  <tr>
    <td>Does your institution consistently catalog or describe its items/collections?</td>
    <td>Poorly cataloged materials can easily be overlooked by your preservation efforts. If you can't find an item, you won't know it's there. Indicate the frequency with which your institution describes and catalogs its resources. Click through to learn about the benefits of collection description and documentation.</td>
  </tr>
  <tr>
    <td>How many access copies or facsimiles do you have of your institution's fragile/valuable items?</td>
    <td>Creating copies of your materials for use can protect the original materials from unnecessary wear and tear. Indicate the level to which your institution reproduces its fragile and valuable items for purposes of access and display. Click through to learn more about originals and copies (e.g. facsimiles, access copies).</td>
  </tr>
  <tr>
    <td>How many of your institution's items have digital surrogates?</td>
    <td>Creating digital copies of materials can protect the originals from wear. Indicate the level to which your institution digitizes its holdings for online access or long-term preservation. Click through for more on digital copies and preservation.</td>
  </tr>
  <tr>
    <td>How many of your institution's items have records either detailing their ownership by the institution and/or whose rights are assigned to the institution? </td>
    <td>Keeping a good record of the rights conferred to your institution by donors of materials is important in order to decide what you can legally do (and what you can allow others to do) with your institution's collections. Indicate the level to which your institution documents provenance and rights information of its resources. Click through to learn more about the benefits and challenges of determining and documenting ownership.</td>
  </tr>
  <tr>
    <td>Does the institution allow media originals to be played back by non-staff members without assistance?</td>
    <td>Allowing untrained people to playback audiovisual materials unaided can put those materials at extreme risk of damage. If your institution regularly allows untrained people (either staff members or the public) to play back audiovisual materials without assistance, click "Yes" and if not, click "No". Click through for more on audiovisual media playback.</td>
  </tr>
  <tr>
    <td>Does your institution allow its originals to leave the premises for the purpose of being loaned to other institutions?</td>
    <td>Shipping materials to other institutions can put them at risk for damage. If your institution regularly loans materials to other institutions, click "Yes" and if not, click "No". Click through to learn more about the dangers of loaning unique items.</td>
  </tr>
  <tr>
    <td>How many of the formats that your institution collects are you and/or other staff trained to clean and repair?</td>
    <td>Knowing how to repair your materials in-house requires a great deal of specialized knowledge. Indicate how much of your collected formats are repairable and maintained by staff.</td>
  </tr>
  <tr>
    <td>Do you or other staff perform visual inspections of materials?</td>
    <td>Although the visual inspection of some materials may be limited in their utility, it is a generally beneficial practice. If you or other staff routinely perform visual inspections of your institution's materials, click "Yes" and if not, click "No".</td>
  </tr>
  <tr>
    <td>Do you or other staff perform playback inspections of audiovisual media?</td>
    <td>Performing playback inspections of audiovisual items can give very good information about the condition of the items. However, playback always carries with it the risk of damage to the items being played back through typically precarious older equipment. If you or other staff routinely perform playback inspections of your institution's audiovisual items. click "Yes" and if not, click "No". Click through to learn more about AV media playback inspection.</td>
  </tr>
  <tr>
    <td>Does your institution have a dedicated handling/inspection space for materials?</td>
    <td>Dedicating a clean, well-lit space in your facility for inspecting sensitive materials is very important. If your institution has such a space, click "Yes" and if not, click "No".</td>
  </tr>
  <tr>
    <td>How much of your playback/viewing equipment are staff or service technicians able to clean and maintain?</td>
    <td>Maintaining playback/viewing equipment is an important part of making your audiovisual and microform materials accessible. For any format that requires access technology, you should not only have the equipment, but also the expertise and hardware necessary for repair when necessary. Indicate how much of your equipment is repairable by either staff or local, reasonably priced service technicians. Click through to learn more about servicing playback equipment.</td>
  </tr>
  <tr>
    <td>For how many of your machines do you have (or can easily acquire) replacement parts and/or secondary units in the event of a mechanical failure?</td>
    <td>As older playback/viewing equipment becomes obsolete, it becomes harder to locate parts and service for it. Indicate how much of your access technology is replaceable. Consider whether you can procure parts and/or backup machines at a reasonable price. Click through for more about parts and equipment replacement.</td>
  </tr>
  <tr>
    <td>Rate the strength level of your institution's security policies and procedures.</td>
    <td>Active, high-level security measures are ideal (e.g. alarms, surveillance, security staff), but even passive, medium-level methods (e.g. locked storage facilities and exhibition cases, sign-in/-out logs, assigned keys, and regular inspections by staff) will go a long way in ensuring security and safety. Click through to learn more about levels of security.</td>
  </tr>
  <tr>
    <td>Does your institution have a current disaster recovery plan?</td>
    <td>Having a concise, clear plan for how to react in a disaster is essential for any institution. If your institution has such a plan, click "Yes" and if not, click "No". Click through to learn more about disaster recovery planning.</td>
  </tr>
  <tr>
    <td>Do you have either a format-specific disaster plan or a special formats component to your larger disaster plan?</td>
    <td>Responding to disasters that involve special collections, photos, or audiovisual media can be different from responding to disasters that only involve paper materials. If your institution's disaster plan targets specific collections or formats, click "Yes" and if not, click "No". Click through to learn more about disaster planning for particular formats and materials.</td>
  </tr>
  <tr>
    <td>Do you have access to disaster recovery tools and/or services for materials in the event of a disaster?</td>
    <td>Numerous services exist across the United States to help institutions respond to disasters affecting their special materials (e.g. audiovisual media). If your institution knows about--and has access to--disaster recovery services that specialize in handling your materials, click "Yes" and if not, click "No". Click through for information on online disaster recovery resources.</td>
  </tr>
  </tbody>
</table>

<h2>Location Question Help</h2>
<table class="table">
  <thead>
  <tr>
    <th>Assessment Question</th>
    <th>Help</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>What is the level of environmental monitoring in place at this location?</td>
    <td>A high-level Environmental Monitoring Program will be comprehensive, incorporating the documentation of temperature, relative humidity, and pest populations (i.e. integrated pest management [IPM]). For exhibition spaces, light levels should also be monitored. If necessary, a water detection system is also advisable. A mid-level program may monitor only temperature and relative humidity, ideally through the use of accurate dataloggers or an HVAC system with established system alarms. A low-level program would simply measure climate conditions without a formalized procedure. Click through for more information on environmental monitoring.</td>
  </tr>
  <tr>
    <td>What is the annual variance in temperature?</td>
    <td>Wide variances in temperature can negatively impact the lifespan of materials. Monitor the temperature in this area over time (or make an educated guess) and click on the button that most closely approximates the temperature variance in this location. Click through for more information about temperature variances and how they can affect collection materials.</td>
  </tr>
  <tr>
    <td>What is the annual average relative humidity (RH) for this location?</td>
    <td>Humidity can be very damaging to materials. Measure the average humidity in this area (or make an educated estimate) and choose from one of the humidity ranges.  Click through for more information about humidity and how it impacts collection materials.</td>
  </tr>
  <tr>
    <td>What is the annual variance in relative humidity?</td>
    <td>Variances in humidity, like variances in temperature, can be damaging to materials over time. Monitor this area's relative humidity over time (or make an educated guess) and click the button that most closely approximates the variance in humidity over time. If you do not have an environmental datalogger or HVAC system that gauges RH, guessing is all one can do. Click through for more information about humidity variances and how they affect collection materials.</td>
  </tr>
  <tr>
    <td>Have local/state fire inspectors approved this area and reviewed fire codes for the facilities and its use?</td>
    <td>Establishing a working relationship with local fire officials will help to prepare your organization and those responders for the urgent action that must be taken in the event of a disaster. Soliciting safety advice from police and/or firefighters and inviting them to conduct a walkthrough of your facilities is a particularly beneficial preparatory measure for minimizing damage and improving safety in this location. Click through to learn more about the benefits of emergency preparation with local officials.</td>
  </tr>
  <tr>
    <td>Do you have fire detection or alarm systems in this area?</td>
    <td>Fire can be catastrophic to your collections. Functional fire detection and alarm systems are crucial to curtailing this risk. Systems should be inspected annually and maintained regularly. If you have operational fire detection systems in this area, click "Yes." If not, click "No". Click through for more information about fire detection.</td>
  </tr>
  <tr>
    <td>Do you have fire suppression systems in this area (in addition to fire extinguishers)?</td>
    <td>Responding quickly to fires is critical for storage facilities and exhibition spaces. If you have a fire suppression system in this area click "Yes" and if not, click "No". Click through for more information about fire suppression systems and collection materials.</td>
  </tr>
  <tr>
    <td>Do you have water drains in this area?</td>
    <td>Water can be especially damaging to your collections. If you have a water drainage system in this storage area click "Yes." If not, click "No." Click through for more information about water drainage systems.</td>
  </tr>
  <tr>
    <td>Do you have collection materials stored in direct contact with the floor in this area?</td>
    <td>Select "Yes" if there are materials stored directly on the floor. In cases in which objects must be on or near the ground, consider the use of buffering materials and/or risers to avoid damage. Click through to learn about the hazards of storing collection materials on the floor.</td>
  </tr>
  </tbody>
</table>


<h2>Audiovisual Question Help</h2>
<table class="table">

  <thead>
  <tr>
    <th>Assessment Question</th>
    <th>Help</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Is this a unique item in terms of its content?</td>
    <td>Select "Yes" if this item is the only copy of this material—both at your institution and beyond; otherwise, select "No". If what you are assessing is a commercially produced item, more than likely it is not unique. Click through for more information about what is considered unique.</td>
  </tr>
  <tr>
    <td>Are there additional copies (i.e. access copies) at your institution?</td>
    <td>Select "Yes" if this content exists in another form at your institution; otherwise, select "No". Click through for more information about service copies.</td>
  </tr>
  <tr>
    <td>Is this item played back or handled regularly?</td>
    <td>Handling and use carry risk, especially for formats requiring machine-mediated access. Click "Yes" if patrons or staff often handle and/or play back this item, and click "No" if not. Click through for more about the risks inherent in media playback.</td>
  </tr>
  <tr>
    <td>Do you have appropriate playback equipment for this item?</td>
    <td>Playback equipment is vital to making audiovisual information accessible. Without proper equipment, your audiovisual items may be at a higher preservation risk. Click "Yes" if you have appropriate playback equipment for this item and "No" if you do not. Click through for more information about playback equipment and how it affects preservation.</td>
  </tr>
  <tr>
    <td>Is this film properly supported in storage? </td>
    <td>Each format has a preferred way of sitting in storage. If you are certain you know how your item should be oriented in storage and have stored it as such, select "Yes"; otherwise, select "No". Click through for more information of how best to orient this item in storage. </td>
  </tr>
  <tr>
    <td>Is this film on a core?  Note that a reel is not the same as a core.</td>
    <td>Select "Yes" if this film is on a known archival core; otherwise, select "No". Click through for more information on film cores.</td>
  </tr>
  <tr>
    <td>Does this item have an appropriate container in good condition?</td>
    <td>Select "Yes" if this item is in a preservation appropriate container; otherwise, select "No". Click through to see examples of appropriate storage containers. </td>
  </tr>
  <tr>
    <td>Does the container or film leader have any meaningful labeling?</td>
    <td>Select "Yes" if the film has any identifying labeling; otherwise, select "No". Click through to learn more about the importance of and issues related to labeling.</td>
  </tr>
  <tr>
    <td>What is the state of the film, in terms of physical damage sustained?</td>
    <td>Be mindful of damage that places the film image or playback at risk. If the non-emulsion (shinier) side of the film or the border area displays superficial damage (e.g. scuffs) without clear damage to the emulsion side, the image may be "Good" or even "Excellent". "Good" to "Critical" can describe a range of image scratches, abrasions, or cracks. Emulsion loss, sprocket damage, or torn film is inherently "Serious" or "Critical," depending on the degree of irreparability.</td>
  </tr>
  <tr>
    <td>Is this item exhibiting mold and/or pest (insect, rodent) damage? </td>
    <td>Biological organisms like mold, insects, and rodents can very easily damage collections, often irreversibly. If this item or its container seems to display pest damage or mold growth, select which (or both if necessary). Click through for more information on pests and mold.</td>
  </tr>
  <tr>
    <td>Is this film color, B&W, or both?</td>
    <td>The easiest way to determine if a film is in color is to unspool it and look at a few frames. Select "Color" if the film stock is color (may have an orangish cast, if negative). Select "B&W" if the film stock is black-&-white (may have a grayish or purplish cast, if negative). Select "Both" if both color and B&W film stock has been spliced together. Click through to learn more about color and B&W film stock.</td>
  </tr>
  <tr>
    <td>Is this film reversal, negative, print, or mag stock?</td>
    <td>Select "Reversal" if the film is reversal (positive image; black film edge). Select "Print" if the film is a print (positive image; clear film edge). Select "Negative" if the film is a negative (negative image; purplish, grayish, or orangish cast). Select "Mag stock" if the film is a magnetic sound track (no photo image; dull, brown or orangish magnetic coating). Select "Mixed" if the film is composed of many different film process types which have been spliced together. Click through to learn more about the different types of processed film, and see examples.</td>
  </tr>
  <tr>
    <td>Is it exhibiting mag stock breakdown?</td>
    <td>Mag (or magnetic) stock holds only sound information and has no photo image. It is typically on a reel of its own and is identifiable by its dull, brown magnetic oxide recording layer. Is it covered in orangish powder (oxide shedding)? Is it sticking to the round of the film reel? Does the film smell like vinegar? Select "Yes" if the item is exhibiting any of these symptoms; otherwise, select "No". Click through to learn more about mag stock and how to identify its deterioration.</td>
  </tr>
  <tr>
    <td>What type of sound track does it have, if any?</td>
    <td>A film's sound track generally appears as a continuous strip running along the length of the film and is distinctly separate from the framed images. If optical, it will comprise two strips containing similar wavy forms (a variable area optical sound track) or it may look like a gray strip of varying darkness (a variable density optical sound track). If magnetic, the sound track will appear as a reddish-brown strip. Select "Optical" if the film sound track is optical (i.e. wavy variable area optical or variable density optical). Select "Magnetic" if the film sound track is magnetic (reddish-brown strip). Select "No soundtrack" if the film does not have a sound track. Click through to learn more about film sound tracks and how to identify the different types.</td>
  </tr>
  <tr>
    <td>If acetate or nitrate, what is the level of breakdown of the base?  If polyester, select "No deterioration."</td>
    <td>Acetate and nitrate film bases will decay in very different ways. If you think this film is polyester or if it displays none of the typical acetate or nitrate decay characteristics, select "No deterioration".  Click through for more information on the levels of film base decay.</td>
  </tr>
  <tr>
    <td>Assess the integrity of the splices on this roll, if applicable.</td>
    <td>This question may involve unspooling the film to answer. Unspooling is not without risk. If you are unable or unwilling to unspool the film and you have no supporting information that may answer this question, you can attempt to view the film through light or under magnification in order to determine simply whether or not there are splices.</td>
  </tr>
  <tr>
    <td>Is the tape exhibiting signs of soft binder syndrome, sticky shed, or another type of tape binder breakdown?</td>
    <td>Magnetic tapes can degrade in a number of ways, but typically it is due to the failure of the binder material, which can cause the emulsion to soften, flake (shed), and gum up playback equipment. Select "Slight/None" if there is little to no evidence of binder breakdown. Select "Moderate" if there is only slight evidence of binder breakdown. Select "Severe" if you observe extensive evidence of binder breakdown. Click through for more information on what binder breakdown means and how to identify it.</td>
  </tr>
  <tr>
    <td>Has the tape been played back recently, or is there documentation of its playback quality?</td>
    <td>Full assessment of a magnetic tape format is not possible without playing it back. Although we certainly do not recommend playback expressly for this purpose (due to the unnecessary risks it poses), if you have played the item recently and know of its quality, this information is useful. If you or other staff have a record of this item's playback issues, this is great head start. Click through to learn about the issues surrounding playback and the benefits of administrative notes.</td>
  </tr>
  <tr>
    <td>Is there an audible squealing during playback?</td>
    <td>Select "Yes" if you hear any high-pitched squeals when playing back the tape. Squealing sounds during playback can indicate of a number of things: problems with the playback machine, problems with the tape itself. One common cause is sticky shed syndrome. Tapes that make any abnormal noise during playback is best handled by a professional restoration expert or vendor. Click through to learn more about what a squeal might indicate.</td>
  </tr>
  <tr>
    <td>Assess the quality of the wind of the tape.</td>
    <td>If the tape pack appears flat with no raised pieces of tape, select "Good". If the tape pack has a few raised bands of tape and if it looks a little loose or inconsistent, select "Fair". If the tape pack is clearly loose, has many popped strands, and/or an uneven wind and windowing, select "Poor". Click through for more information about tape wind.</td>
  </tr>
  <tr>
    <td>Has the record protection mechanism been engaged for this cassette?</td>
    <td>There are many different ways to engage record protection, depending upon the cassette format. Select "Yes" if the record protection is enabled on this cassette. If you're unsure how to protect your tape from accidental erasure, click through for more information.</td>
  </tr>
  <tr>
    <td>What is the time length of the tape?</td>
    <td>Select the play time length of your audiotape. Commercial tapes are usually 30 minutes; recordable tape lengths will vary and are often indicated by some form of labeling on the cassette (e.g. "D-C60" is 60 mins; "MX90" is 90 mins). Cassettes of longer length are on thinner tape, which places them at greater general risk. Click through for information on why cassette length is an important preservation consideration.</td>
  </tr>
  <tr>
    <td>Does this tape have a proper leader?</td>
    <td>Select "Yes" if your item has a secure plastic leader in good condition. If there is no tape leader or if the leader is paper (or is poorly spliced), select "No". Click through for information on how to identify a proper leader and its benefits.</td>
  </tr>
  <tr>
    <td>If acetate, what is the level of breakdown of the base?  If polyester, select "No deterioration."</td>
    <td>An acetate tape base will show its degradation in several stages. If you think this tape is polyester, or it displays none of the typical acetate decay characteristics, select "No deterioration".  Click through for more information on the levels of acetate magnetic tape decay.</td>
  </tr>
  <tr>
    <td>Is the tape exhibiting brittleness, emulsion shedding, or any other type of tape breakdown?</td>
    <td>Magnetic tapes can degrade in a number of ways, yet often the issue with paper and PVC is that they embrittle and tear easily, which places all information they carry at risk. Iron oxide emulsion shedding is also common for these tape manufactures. Select "Slight/None" if there is little to no evidence of tape breakdown. Select "Moderate" if there is only slight evidence of tape breakdown. Select "Severe" if you observe extensive evidence of tape breakdown. Click through for more information.</td>
  </tr>
  <tr>
    <td>Is the disc protected by an inner sleeve?</td>
    <td>Select "Yes" if this item has an inner sleeve enclosure. Records are often found in paper sleeves that may challenge long-term storage and preservation. Records are better off sleeved in high density polyethylene, but typically any enclosure is better than nothing at all. Click though to learn more about preservation issues related to inner and outer sleeves, including examples of suitable materials.</td>
  </tr>
  <tr>
    <td>What is the state of the disc, in terms of physical damage sustained?</td>
    <td>Be mindful of damage that places the grooves or disc playback at risk. If only superficial damage (e.g. slight scuffs, light scratches) that does not affect playback functionality, this may be classified as "Good".</td>
  </tr>
  <tr>
    <td>Assess the level of dust, dirt or debris on this disc.</td>
    <td>Select "Slight/None" if you see little or no any signs of dust or dirt. Select "Moderate" if there is a noticeable presence of dust or dirt. Select "Severe" if the dust or dirt level is great. Click through to learn more about the preservation issues related to dust and other foreign matter.</td>
  </tr>
  <tr>
    <td>Has the disc been played back recently, or is there documentation of its playback quality?</td>
    <td>Full assessment of a phonograph record is not possible without playing it back. Although we certainly do not recommend playback expressly for this purpose (especially if the disc appears to be fragile), if you have played the item recently and know of its quality, this information is useful. If you or other staff have some documentation concerning its playback issues, this is great head start. Click through to learn about the issues surrounding playback and the benefits of administrative notes.</td>
  </tr>
  <tr>
    <td>If this disc is a lacquered (instantaneous) disc, what is the disc's core material?</td>
    <td>Lacquered discs can be made of cellulose nitrate or acetate on a substrate (core). That substrate can be glass, aluminum, steel, or cardboard—all of which are subject to damage. To identify the core material, examine the center spindle hole: If a shiny, metallic glint is visible, it is likely aluminum or steel. If brownish and fibrous, it is cardboard or paper-based. Glass substrates can be identified by observing light through the semi-translucent disc. Click through for more information about how to identify core materials and preservation issues.</td>
  </tr>
  <tr>
    <td>Assess the level of palmitic acid deposits on the disc surface.</td>
    <td>Lacquer surfaces can develop whitish, oily deposits as the cellulose-based coating deteriorates. In addition to obstructing playback, the palmitic acid deposits indicate that the laminate is shifting and that it may eventually shrink and delaminate. Deposits typically form in humid conditions and are often mistaken for mold, although mold will appear more dull, lattice-like in contrast. Select "None" if there are no signs of palmitic acid. Select "Moderate" if there is a noticeable amount of palmitic acid (a light dusting). Select "High" if the palmitic acid level is great and/or coats the entire disc. Click through to learn how to identify palmitic acid. </td>
  </tr>
  <tr>
    <td>Assess the level of rust on the wire.</td>
    <td>Most wire audio is composed of recording-grade stainless steel, though some pre-WWII recordings were made on steel wire, which is prone to rust. Rust can weaken the thin wire and cause it to break during handling or playback. It can also impede signal retrieval. However, occurrences of rust on wire are typically rare. Select "None" if there are no signs of rust. Select "Moderate" if there is a just-noticeable amount of rust (slight surface rust). Select "High" if the rust is dense and/or covers a significant amount of wire.</td>
  </tr>
  <tr>
    <td>Is this disc suffering from "disc rot" or any other visible form of disc breakdown?</td>
    <td>Rot can be observed when the disc is held up to a light source; light may shine through pin-prick-sized holes. Affected discs will also skip or fail to play. For factory-pressed CDs, this problem has been resolved by manufacturers over time. For recordable discs, the dye layer will appear to have distorted in areas as pinholes develop. Eventually the metallic reflecting layer may also delaminate from the disc. Select "Yes" if your disc is exhibiting signs of disc rot, or—in the case of a recordable disc—dye degradation and/or delamination. These inherent vices can very quickly result in access failure. Click through for more information about and examples of disc rot, dye degradation, and other forms of inherent vice.</td>
  </tr>
  <tr>
    <td>Have you performed any data checks or checksums on the encoded data?</td>
    <td>Select "Yes" if you have performed data checks and/or check sums on this disc. Click through to learn more about the importance of optical disc error checking.</td>
  </tr>
  </tbody>
</table>


<h2>Photographic Question Help</h2>
<table class="table">

  <thead>
  <tr>
    <th>Assessment Question</th>
    <th>Help</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Is this item viewed/handled regularly?</td>
    <td>Handling and use carry risk, especially for formats requiring machine-mediated access. Click "Yes" if patrons (or staff) often handle this item and click "No" if not.</td>
  </tr>
  <tr>
    <td>Are there additional copies, facsimiles, and/or access copies of this image?</td>
    <td>Select "Yes" if this content exists in another form at your institution; otherwise, select "No". Click through for more information about service copies.</td>
  </tr>
  <tr>
    <td>Do you have appropriate viewing equipment for this item?</td>
    <td>Microfilm readers are required to fully access the information on the film or fiche. Without proper equipment, your microfilm and microfiche may be at a higher preservation risk. Indicate whether you have the appropriate device for this particular microform.</td>
  </tr>
  <tr>
    <td>Is this item properly supported in storage?</td>
    <td>Each format has a preferred way of sitting in storage. If you are certain you know how your item should be oriented in storage and have stored it as such, select "Yes"; otherwise, select "No". Click through for more information of how best to orient this item in storage.</td>
  </tr>
  <tr>
    <td>Does this item have an appropriate container in good condition?</td>
    <td>Select "Yes" if this item is in a preservation appropriate container; otherwise, select "No". Click through to see examples of appropriate storage containers. </td>
  </tr>
  <tr>
    <td>Does the container or film have any meaningful labeling?</td>
    <td>Select "Yes" if the film has any identifying labeling; otherwise, select "No".</td>
  </tr>
  <tr>
    <td>What is the state of the image, in terms of physical damage sustained?</td>
    <td>Be mindful of damage that places the image or visual information at risk. If the non-image (shinier) side of the film or border area is scuffed without clear damage to the image/emulsion side, the image may be "Good" or even "Excellent." "Good" to "Critical" can describe a range of image scratches, abrasions, or cracks. Delamination or flaking (image loss) is inherently "Serious" or "Critical", depending on the degree of irreparable emulsion loss.</td>
  </tr>
  <tr>
    <td>Is this item exhibiting mold and/or pest (e.g. insect, rodent) damage? </td>
    <td>Biological organisms like mold, insects, and rodents can very easily damage collections, often irreversibly. If this item or its container seems to display pest damage or mold growth, identify which (or both if necessary). Click through for more information on pests and mold.</td>
  </tr>
  <tr>
    <td>If acetate or nitrate, what is the level of breakdown of the base?  If polyester, select "No deterioration."</td>
    <td>Acetate and nitrate films will decay in very different ways. If you think this film is polyester or if it displays none of the typical acetate or nitrate decay characteristics, select "No deterioration".  Click through for more information on the levels of film base decay. </td>
  </tr>
  <tr>
    <td>Assess the degree of image fading, discoloration, and/or staining.</td>
    <td>Determine the extent to which the image material has deteriorated, naturally or by external factors. Common forms of surface staining for silver gelatin photographic images include silver mirroring (metallic, bluish cast) and orange-yellow spotting (redox blemishes). Click through for examples and more information.</td>
  </tr>
  <tr>
    <td>If microfilm, assess the integrity of the splices on this roll.  If microfiche, select "No splices."</td>
    <td>This question may involve unspooling the microfilm to answer. Unspooling is not without risk. If you are unable or unwilling to unspool the film and you have no supporting information which may answer this question, you may select "Unsure". If microfiche (film sheet), select "No splices".</td>
  </tr>
  <tr>
    <td>Is the support yellowed and/or brittle?  This will be most evident along the paper's edges or back side.</td>
    <td>Select the degree of the paper's acidic breakdown. Discoloration (i.e. yellowing) typically precedes obvious brittle properties, showing up first along the edges. Discoloration may sometimes be more obvious on the back. If both yellowed and brittle, this paper support is likely in an advanced stage of degradation.</td>
  </tr>
  <tr>
    <td>Is the image clearly comprised of yellow/magenta/cyan or is there an overall red-orange tint?</td>
    <td>Chromogenic components and dye stability improved over time, most notably in 1947. Up to that point, the negative image visibly comprised a complementary color set (yellow, magenta, and cyan). As a color negative's fading is nearly impossible to assess, we ask this question to determine the potential for image degradation.</td>
  </tr>
  <tr>
    <td>Was this negative likely manufactured before the early 1980s?</td>
    <td>To identify the manufacture era of the negative, consider both the content of the image as well as the markings and codes along the edge. Making an educated guess is fine for this particular question. </td>
  </tr>
  <tr>
    <td>Identify the binder material (gelatin, collodion, albumen), if possible.</td>
    <td>Albumen image tone ranges from ocher-orange to olive green, appearing creamy in dark areas, typically made with thick, irregularly sized rough-cut glass. Corners may not be coated with emulsion. Collodion image tone ranges from warm light brown to dark brown when viewed in reflected light. Uneven thickness of collodion is often apparent at the corners. Gelatin image tones range from neutral gray to black. Unlike the others, gelatin plates were made in standard sizes from factory-cut glass (< 2mm thick). Emulsion was machine-applied, resulting in a thin, smooth, even coating that also covered the edges. If you are uncertain, select "Unsure". However, remember that this will harm the accuracy of your score.</td>
  </tr>
  <tr>
    <td>Does the emulsion side have a glass cover, or is the emulsion exposed?</td>
    <td>A protective sheet of similar-sized glass will help to protect the emulsion from external threats—mechanical damage and environmental factors (e.g. scratches, pests). If the emulsion is cracking or delaminating, a glass cover will help to sandwich and protect the fleeing image material.</td>
  </tr>
  <tr>
    <td>Is this daguerreotype in a hinged case with a glass cover and/or sealed package?</td>
    <td>The silver-mercury image material of the daguerreotype is extremely sensitive. Indicate whether this daguerreotype is in a package that effectively seals the plate surface off from external threats. A secure glass-and-case "package" is crucial to protect the image from external threats—mechanical damage and environmental factors (e.g. abrasion, tarnishing). A daguerreotype should remain enclosed in its original case or package; however, conservators may elect to repackage a compromised case if they deem it necessary.</td>
  </tr>
  <tr>
    <td>Assess the degree of image tarnishing, darkening, and/or loss of contrast.</td>
    <td>Determine the extent to which the image material has deteriorated naturally or by external factors. Tarnishing typically results from exposure to atmosphere pollutants (e.g. an opened case packaging). This will begin as a light brown that progresses toward blue-black opaque staining along the outer edge. Over time, this staining can envelop the whole image.</td>
  </tr>
  <tr>
    <td>Is this ambrotype in a hinged case (w/ glass cover) and/or sealed package?</td>
    <td>The silver image of an ambrotype is extremely sensitive, especially if it was not varnished. Indicate whether this ambrotype is in a package that effectively seals the emulsion-side's surface off from external threats. A secure case or package is crucial to protect the image from external threats—mechanical damage and environmental factors (e.g. abrasion, tarnishing). An ambrotype should remain enclosed in its original case or package; however, conservators may elect to repackage a compromised case if they deem it necessary.</td>
  </tr>
  <tr>
    <td>Is the tintype's back side exhibiting rust?</td>
    <td>Oxidation and rusting of the tinype's iron substrate can cause blistering, flaking, and total loss of the image emulsion layer—this is the primary  threat to tintypes. Check for signs of rust across the plate's back side.</td>
  </tr>
  <tr>
    <td>Is this tintype in a sealed package and/or hinged case?</td>
    <td>Indicate whether this tintype is in a package that effectively seals it off from external threats. The silver image is not as sensitive as that of a ambrotype or daguerreotype, but does benefit from the protection of an enclosure. Most tintypes stored loose are therefore dented, bent, or scratched up. A rigid, secure case or package helps protect the image from external threats—mechanical damage and environmental factors (e.g. dents, scratches, rusting). Moisture and high humidity will lead to oxidation and rusting of the iron, especially if the lacquered surface has been cracked or chipped.</td>
  </tr>
  <tr>
    <td>Assess the degree of image darkening, yellowing, and/or loss of contrast.</td>
    <td>Determine the extent to which the image material has deteriorated, naturally or by external factors. The collodion binder and varnish layers are sensitive to light and will yellow under intense light exposure, which may eventually lead to delamination. The silver image may also lose contrast due to exposure to light and other atmospheric factors.</td>
  </tr>
  <tr>
    <td>Is this uncoated or coated paper?</td>
    <td>Uncoated paper (copy paper) will appear rough and has a matte surface like any basic copy paper. Coated paper will have a plasticized backside and will have some degree of surface luster.</td>
  </tr>
  <tr>
    <td>Does it appear to be a "porous" or "swellable" paper type?</td>
    <td>Swellable paper typically has a glossy finish which mimics traditional photo paper. Porous paper (the more popular type) typically is not as glossy as swellable paper, and it is manufactured with or without a resin layer.</td>
  </tr>
  <tr>
    <td>Is the print mounted or unmounted?</td>
    <td>Carbon prints and woodburytypes are often on card mounts; unmounted prints are comparatively thin.</td>
  </tr>
  <tr>
    <td>Is this photo on polyester, acetate, or a resin-coated (RC) paper?</td>
    <td>Acetate: 1963 – late 1970s; Polyester and RC paper: late 1970s – 2011. Polyester film is by far more common as a silver dye-bleach print support than acetate film or RC paper. Polyester is also the most stable of the bunch. If uncertain about which plastic film support you have (acetate or polyester), make an educated guess based on the era.  If you are incorrect and the support has not deteriorated, this will still score higher than answering "Unsure".</td>
  </tr>
  <tr>
    <td>Is this a peel-apart or integral (e.g. type 600) instant photo?</td>
    <td>Black-and-white instant photos are generally of the peel-apart or pack film variety.  Although B&W integral photos do exist (Polaroid type 600), they are relatively rare. Integral type film will have a characteristically thicker border along the lower half where the photo development chemical pod is. Click through for examples.</td>
  </tr>
  <tr>
    <td>Does the image appear to be distorted or cracking? </td>
    <td>Distortion results from silver image migration, which is often due to poor storage orientation.  Cracking typically results from the photo's exposure to fluctuating relative humidity.</td>
  </tr>
  <tr>
    <td>Is this a peel-apart (e.g. Polacolor) or integral (e.g. SX-70) instant photo?</td>
    <td>Color instant photos may be of either the peel-apart (pack film) or integral film type. For assistance with identification, see <%= link_to 'Instant Color', format_id_guide_category_path('photoprint', anchor: 'instantcolor') %> photographs in the Format ID Guide. </td>
  </tr>
  </tbody>
</table>


<h2>Unbound Paper Question Help</h2>
<table class="table">

  <thead>
  <tr>
    <th>Assessment Question</th>
    <th>Help</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Is this item viewed or handled regularly?</td>
    <td>Handling and use carry damage risks, regardless of intention. Click "Yes" if patrons (or staff) often handle this item and click "No" if not.</td>
  </tr>
  <tr>
    <td>Are there additional copies, facsimiles, and/or access copies of this image?</td>
    <td>Select "Yes" if this content exists in another form at your institution; otherwise, select "No". Click through for more information about facsimiles and access/reference copies.</td>
  </tr>
  <tr>
    <td>Is this item properly supported in storage?</td>
    <td>Each format has a preferred way of sitting in storage. If you are certain you know how your item should be oriented in storage and have stored it as such, select "Yes"; otherwise, select "No". Click through for more information of how best to orient this item in storage.</td>
  </tr>
  <tr>
    <td>Does this item have an appropriate enclosure in good condition?</td>
    <td>Select "Yes" if this item is in a preservation appropriate container; otherwise, select "No". Click through to see examples of appropriate storage containers.</td>
  </tr>
  <tr>
    <td>Does the enclosure or item have any meaningful labeling?</td>
    <td>Select "Yes" if the item or its container have any identifying labeling; otherwise, select "No".</td>
  </tr>
  <tr>
    <td>What is the physical condition of the item overall?</td>
    <td>Consider the condition of the whole object before making your selection. "Excellent" indicates that the paper has little to no mechanical damage, only minor creases/dents, and any natural effects of aging are only cosmetic and do not in any way affect content or access (e.g. no tears or stains). "Good/Fair" indicates that there is perhaps slight to moderate wear and tear. The paper can normally be handled responsibly without causing further damage (e.g. some folds, pinholes, slight staining). "Serious/Critical" indicates significant mechanical or cosmetic damage. The paper is highly susceptible to further damage simply through regular handling (e.g. ripped/fragmented, severe punctures, or stains).</td>
  </tr>
  <tr>
    <td>To what degree is this damage affecting visual information (i.e. image, text)?</td>
    <td>Be mindful of damage that places the image or visual information at risk. If the paper edges bear only superficial damage without clear or foreseeable damage to the text/image, this would be "Slight/None". "Moderate" or "Severe" can describe a range of scratches, abrasions, or smudges. Irreparable loss or blocking of crucial text/image is inherently "Severe" (e.g. critical text erasure, irrecoverable paper fragmenting)</td>
  </tr>
  <tr>
    <td>Is this item exhibiting mold and/or pest (e.g. insect, rodent) damage? </td>
    <td>Biological organisms such as mold, insects, and rodents can very easily damage collections, often irreversibly. If this item or its container seems to display pest damage or mold growth, select which (or both if necessary). Click through for more information on pests and mold. </td>
  </tr>
  <tr>
    <td>Is the paper discolored and/or brittle?</td>
    <td>Select the degree of the paper's acidic breakdown. Discoloration (e.g. yellowing) typically precedes obvious brittle properties, and will be most evident along the edges. Discoloration may be best evaluated by viewing the back. If both yellowed and brittle, this paper support is in an advanced stage of degradation.</td>
  </tr>
  <tr>
    <td>What proportion of the ink/media is "at risk"?</td>
    <td>These are very loosely defined levels of proportion that are ripe for subjective interpretation. Please examine the condition of the ink/media closely before making your selection—and be consistent! Fading, discoloration, lifting, haloing, feathering, and bleeding are typical forms of ink/media deterioration. Click through for examples of different types of ink/media degradation.</td>
  </tr>
  <tr>
    <td>Is this print on paper, drafting cloth, or a plastic film?</td>
    <td>Paper supports may themselves be mounted on a secondary cloth support (e.g. a linen backing). Look closely to determine the primary support that carries ink/media. Drafting cloth is flexible and durable, often with a smooth, semi-glossy surface (starched and/or calendered); stray cloth fibers may be visible along edges. Plastic film will typically have a matte finish on one or both sides, which gives the surface “teeth.”</td>
  </tr>
  <tr>
    <td>What is the level of breakdown of the film support? If you know the film is polyester, select "No deterioration."</td>
    <td>Acetate and nitrate film supports will decay in very different ways. If you think this film is polyester, or it displays none of the typical acetate or nitrate decay characteristics, select "No deterioration".  Click through for more information on the levels of plastic film decay. </td>
  </tr>
  <tr>
    <td>Is the cloth limp and/or frayed?</td>
    <td>Drafting cloth should be strong and flexible.  However, the residual acids of print process may attack fibers over time, causing the cloth to become limp.  These acids can also cause fibers to fray, resulting in holes, tearing, and image loss.</td>
  </tr>
  </tbody>
</table>

<h2>Bound Paper Question Help</h2>
<table class="table">

  <thead>
  <tr>
    <th>Assessment Question</th>
    <th>Help</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Is this item viewed or handled regularly?</td>
    <td>Handling and use carry damage risks, regardless of intention. Click "Yes" if patrons (or staff) often handle this item and click "No" if not.</td>
  </tr>
  <tr>
    <td>Are there additional copies, facsimiles, and/or access copies of this image?</td>
    <td>Select "Yes" if this content exists in another form at your institution; otherwise, select "No". Click through for more information about facsimiles and access/reference copies.</td>
  </tr>
  <tr>
    <td>Is this item properly supported in storage?</td>
    <td>Each format has a preferred way of sitting in storage. If you are certain you know how your item should be oriented in storage and have stored it as such, select "Yes"; otherwise, select "No". Click through for more information of how best to orient this item in storage.</td>
  </tr>
  <tr>
    <td>Does this item have an appropriate enclosure in good condition?</td>
    <td>Select "Yes" if this item is in a preservation appropriate container; otherwise, select "No". Click through to see examples of appropriate storage containers.</td>
  </tr>
  <tr>
    <td>Does the enclosure or item have any meaningful labeling?</td>
    <td>Select "Yes" if the item or its container have any identifying labeling; otherwise, select "No".</td>
  </tr>
  <tr>
    <td>What is the physical condition of the item overall?</td>
    <td>Consider the condition of the whole object before making your selection. "Excellent" indicates both that the paper has little to no mechanical damage and only minor creases/dents and that any natural effects of aging are only cosmetic, not in any way affecting content or its access (e.g. no tears or stains). "Good/Fair" indicates that there is perhaps slight to moderate wear and tear. The paper can be handled normally without causing further damage (e.g. some folds, pinholes, slight staining). "Serious/Critical" indicates significant mechanical or cosmetic damage. The paper is highly susceptible to further damage simply through regular handling (e.g. ripped/fragmented, severe punctures, or stains).</td>
  </tr>
  <tr>
    <td>To what degree is this damage affecting visual information (image, text)?</td>
    <td>Be mindful of damage that places the image or visual information at risk. If the paper edges bear only superficial damage without clear or foreseeable damage to the text/image, this would be "Slight/None". "Moderate" or "Severe" can describe a range of scratches, abrasions, or smudges. Irreparable loss or blocking of crucial text/image is inherently "Severe" (e.g. critical text erasure, fading, irrecoverable paper fragmenting).</td>
  </tr>
  <tr>
    <td>Is this item exhibiting mold and/or pest (e.g. insect, rodent) damage? </td>
    <td>Biological organisms like mold, insects, and rodents can very easily damage collections, often irreversibly. If this item or its container seems to display pest damage or mold growth, select which (or both if necessary). Click through for more information on pests and mold. </td>
  </tr>
  <tr>
    <td>Is the paper discolored and/or brittle?</td>
    <td>Select the degree of the paper's acidic breakdown. Discoloration (e.g. yellowing) typically precedes obvious brittle properties, and it will be most evident along the edges. Discoloration may be best evaluated by viewing the back. If both yellowed and brittle, this paper support is in an advanced stage of degradation.</td>
  </tr>
  <tr>
    <td>What proportion of the ink/media is "at risk"?</td>
    <td>These are very loosely defined levels of proportion that are ripe for subjective interpretation. Please examine the condition of the ink/media closely before making your selection—and be consistent! Fading, discoloration, lifting, haloing, feathering, and bleeding are typical forms of ink/media deterioration. Click through for examples of ink/media degradation.</td>
  </tr>
  <tr>
    <td>Is the cover or case still attached to the textblock?</td>
    <td>The PSAP needs to know if the binding and cover/case function properly.  Is it coming apart, or is it attached (fully or partially)? Additionally, you may determine whether there is potential for further damage to the binding or cover attachment through regular use. Look for physical weaknesses and predict them in your answer. This may demand some critical viewing and handling. If there is <em>no cover or case</em>—and never was one—then simply answer whether the binding is still intact.</td>
  </tr>
  <tr>
    <td>What is the condition of the cover material?</td>
    <td>Regardless of its composition, a cover will endure much of the physical wear and tear. Threats to a book's cover or spine is important information to note as well as the potential for ongoing structural damage when assessing the cover. Click through for examples of cover material damages. </td>
  </tr>
  </tbody>
</table>
