<% provide(:title, 'Assessment Templates') %>

<ol class="breadcrumb">
  <li class="active">Assessment Templates</li>
</ol>

<h1>Assessment Templates</h1>

<ul>
  <% @assessments.each do |assessment| %>
      <li><%= link_to assessment.name, assessment %></li>
  <% end %>
</ul>
