<% provide(:title, 'Institutions') %>

<%= breadcrumbs('Institutions') %>

<div class="row">
  <div class="col-sm-7">
    <h1>Institutions <small class="entity_count">
      <%= @institutions.total_entries %> total</small></h1>
  </div>
  <div class="col-sm-5" style="text-align:right">
    <%= button_link('Add Institution', new_institution_path,
                    entity_icon(Institution), class: 'btn-success') %>
  </div>
</div>

<div id="institutions">
    <%= render 'institutions' %>
</div>
