<% provide(:title, 'Dashboard') %>

<h1>Dashboard</h1>

<p>Hi, <%= @user.first_name %>! This is your dashboard. It will presumably, at
  some point, display an overview of some information you might be interested
  in.</p>
