<%= render 'shared/error_messages', :object => f.object %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<%= hidden_field_tag 'institution_id', params[:institution_id] %>