<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your new PSAP institution has been approved!</h1>

<p>Your institution has successfully been changed to
  <%= @user.institution.name %>.</p>

<p>Please remember that other people are open to join this institution. While
  we at PSAP try our best to make sure that members are only authorized if
  they actually belong to an institution, for your part please monitor users
  in your institution to ensure that membership is current and accurate. If
  you question any PSAP user's right to be in your institution, do not
  hesitate to contact us at
  <a href="mailto:psap@library.illinois.edu">psap@library.illinois.edu</a>.</p>

<p>The PSAP is available at:</p>

<p><%= @psap_url %></p>

</body>
</html>
