<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Your request to change your PSAP institution has been denied.</p>

<p>This is an automated message from the PSAP application. For more
  information, please contact the PSAP team at:
  <%= Psap::Application.config.psap_email_address %>.</p>

<p>The PSAP is available at:</p>

<p><%= @psap_url %></p>

</body>
</html>
