Your account has been enabled, and you can now sign in to the PSAP. Follow
the link below:

<p><a href="<%= @sign_in_url %>"><%= @sign_in_url %></a></p>

Thanks for your patience, and for your interest in the PSAP!
