<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
</head>
<body>
<h1>Your PSAP account has been approved!</h1>
<p>Your account has been approved, and you can now sign in to the PSAP. Follow
  the link below:</p>

<p><a href="<%= @sign_in_url %>"><%= @sign_in_url %></a></p>

<p>Thanks for your patience, and for your interest in the PSAP!</p>

<p>For more information on the PSAP and getting started using the PSAP, please
  refer to our <%= link_to 'introductory video', video_url('psap_tutorial.mp4') %>
  and the <%= link_to 'PSAP User Manual', user_manual_url %>.</p>

</body>
</html>
