<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to PSAP, <%= @user.first_name %>!</h1>
  <p>You have successfully signed up for the Preservation Self-Assessment
    Program. Your username is: <strong><%= @user.username %></strong>.</p>

  <p>Before you can log in, you will need to confirm your account. To do so,
    follow this link:
    <a href="<%= @confirmation_url %>"><%= @confirmation_url %></a>.</p>
</body>
</html>
