<% provide(:title, 'Reset Password') %>

<h1>Reset your password</h1>

<p>Enter your username and click the password reset button. You will receive
  an email containing a link that you must follow to reset your password.</p>

<form method="post" action="<%= url_for controller: 'password', action: 'send_email' %>">

  <label for="username">Username</label>
  <input type="text" id="username" name="username" class="form-control"
    style="width:30%">
  <br>
  <input type="submit" value="Reset My Password" class="btn btn-primary">

  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

</form>
