<% provide(:title, 'Reset Password') %>

<h1>Reset your password</h1>

<p>Enter your email address and click the reset button. You will receive
  an email containing a link you can follow to reset your password.</p>

<%= form_tag(controller: 'password', action: 'send_email') do %>
  <%= text_field_tag(:email, '', class: 'form-control', style: 'width: 300px') %>
  <br>
  <%= submit_tag('Reset My Password', class: 'btn btn-primary') %>
<% end %>
