<h2>Preferences</h2>

<%= form_for @user, remote: true do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>

<% end %>
