<% provide(:title, 'Account Confirmed') %>

<h1>Just one more thing!</h1>

<div class="alert alert-danger">

  <p>Your account has been confirmed, but it needs to be reviewed by PSAP staff
    before you can sign in. We'll get back to you via e-mail as soon as we
    can.</p>

  <p>Thanks again for your interest in the PSAP &mdash; and your patience!</p>

  <p><%= link_to 'Home', root_url %></p>

</div>
