<% provide(:title, 'Confirm your account') %>

<h1>Confirm your account</h1>

<p>Thanks for signing up for PSAP! Your account has been created, but you
  must confirm it before you can log in. An email containing a confirmation
  link has been sent to the email address you provided. Follow the link in the
  email to confirm your account.</p>
