<% provide(:title, 'Account Confirmed') %>

<h1>Welcome to the PSAP!</h1>

<div class="alert alert-danger">

  <h4>Important!</h4>

  <p>Your account has been confirmed, but it must be approved by an
    administrator before you can sign in. We'll get back to you via e-mail as
    soon as we can.</p>

  <p>Thanks again for your interest in the PSAP &mdash; and your patience!</p>

  <p><%= link_to 'Home', root_url %></p>

</div>
