<% provide(:title, 'Success!') %>

<h1>Success!</h1>

<p>Thanks for registering for the PSAP! An email has been sent to the address
  you provided. Follow the link in the email to confirm your account.</p>
