<% provide(:title, @user.full_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.full_name %>
      </h1>
      <p><%= @user.institution.name %></p>
    </section>
  </aside>
</div>
