<% # Will be read by updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= @format_count %>">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Score / 1</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'format_rows', locals: { formats: @formats, depth: 0 } %>
  </tbody>
</table>
