<% provide(:title, 'Formats') %>

<ol class="breadcrumb">
  <li class="active">Formats</li>
</ol>

<h1>Formats <small class="entity_count"></small></h1>

<%= form_tag formats_path, method: 'get', class: 'psap-live-search',
             style: 'float:right' do %>
  <%= search_field_tag :q, params[:q], placeholder: 'Search',
                       class: 'form-control' %>
<% end %>

<div id="formats">
  <%= render 'formats' %>
</div>
