<% provide(:title, 'Formats') %>

<ol class="breadcrumb">
  <li class="active">Formats</li>
</ol>

<div class="psap-page-title">
  <h1>Formats</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Score / 1</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'format_rows', locals: { formats: @formats, depth: 0 } %>
  </tbody>
</table>
