<% # an assessment sections menu, appearing in the "edit/assess" view of all
   # assessable entities (resources, institutions, locations). %>

<div id="sections">
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <% assessment_sections.each_with_index do |section, index| %>
        <li data-section-id="<%= section.id %>" <%= index == 0 ? raw('class="active"') : '' %>>
          <a href="#<%= section.name.tr('/ |', '') %>"><%= section.name %>
          <small>(<span class="assessment-question-count">0</span>)</small></a>
        </li>
      <% end %>
    </ul>
  </nav>

  <!-- Save button -->
  <div class="center">
    <button type="button" class="btn btn-default save">
      <span class="glyphicon glyphicon-cloud"></span> Save
    </button>
  </div>
</div>
