<div class="modal fade" class="psap-edit-panel"
     id="<%= action == :create ? 'psap-create-panel' : 'psap-edit-panel' %>"
     data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editModalLabel">
          <%= action == :create ? 'Create' : 'Edit' %> <%= entity_name %>
        </h4>
      </div>
      <div class="modal-body">
        <% # the edit form will be appended here via ajax
        %>
      </div>
    </div>
  </div>
</div>
