<% if @results.any? %>
  <table class="table">
    <tbody>
      <% @results.each do |category| %>
        <tr>
          <td><%= link_to category.name, format_id_guide_category_path(category) %></td>
          <td><%= highlight_matches(category.html, @query) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
