<% provide(:title, 'Format ID Guide') %>

<h1>Format ID Guide</h1>

<div class="row">
  <!-- left column menu -->
  <div class="col-sm-3">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#all_formats">All Formats</a></li>
        <li><a href="#audiovisual">Audiovisual</a></li>
        <li><a href="#photo_image">Photo &amp; Image</a></li>
        <li><a href="#book_paper">Book &amp; Paper</a></li>
      </ul>
    </nav>
  </div>

  <div class="tab-content">

  <div id="all_formats" class="col-sm-9 tab-pane active">
    <h2>All Formats</h2>
    <h3>Audiovisual</h3>
    <ul>
      <li>Film</li>
      <li>Magnetic Audio</li>
      <li>Cassette &amp; Cartridge Video</li>
    </ul>
    <h3>Photographic &amp; Image</h3>
    <h3>Book &amp; Paper</h3>
  </div>

  <div id="audiovisual" class="col-sm-9 tab-pane">
    <h2>Audiovisual</h2>
  </div>

  <div id="photo_image" class="col-sm-9 tab-pane">
    <h2>Photographic &amp; Image</h2>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#negative" data-toggle="tab">Negative</a>
      </li>
      <li>
        <a href="#direct_positive" data-toggle="tab">Direct Positive</a>
      </li>
      <li>
        <a href="#monochrome_print" data-toggle="tab">Monochrome Print</a>
      </li>
      <li>
        <a href="#color_print" data-toggle="tab">Color Print</a>
      </li>
      <li>
        <a href="#transparency" data-toggle="tab">Transparency</a>
      </li>
      <li>
        <a href="#microform" data-toggle="tab">Microform</a>
      </li>
      <li>
        <a href="#photomechanical" data-toggle="tab">Photomechanical</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="negative" class="tab-pane active">
        <ul>
          <li>Albumen Negative</li>
          <li>Collodion Negative</li>
          <li>Gelatin Glass Negative</li>
          <li>Gelatin Silver Negative</li>
          <li>Chromogenic Process</li>
          <li>Negative</li>
        </ul>
      </div>
      <div id="direct_positive" class="tab-pane">
        <ul>
          <li>Daguerreotype</li>
          <li>Ambrotype</li>
          <li>Tintype</li>
        </ul>
      </div>
      <div id="monochrome_print" class="tab-pane">
        <ul>
          <li>Salt Print</li>
          <li>Cyanotype</li>
          <li>Platinum Print</li>
          <li>Albumen Print</li>
          <li>Carbon Print</li>
          <li>Collodion Print</li>
          <li>Matte Collodion POP Print</li>
          <li>Gelatin POP Print</li>
        </ul>
      </div>
      <div id="color_print" class="tab-pane">
        Color print
      </div>
      <div id="transparency" class="tab-pane">
        Transparency
      </div>
      <div id="microform" class="tab-pane">
        Microform
      </div>
      <div id="photomechanical" class="tab-pane">
        Photomechanical
      </div>
    </div>
  </div>

  <div id="book_paper" class="col-sm-9 tab-pane">
    <h2>Book &amp; Paper</h2>
  </div>

  </div>
</div>
