<% provide(:body_id, 'format_id_guide') %>
<% provide(:title, 'Format ID Guide') %>

<% @results.any? %>

<div class="row">
  <div class="col-sm-9">
    <h1>Format ID Guide</h1>
  </div>
  <div class="col-sm-3">
    <%= form_tag format_id_guide_path, method: 'get', class: 'entity_search form-inline',
                 style: 'float:right; max-width:100%' do %>
      <%= search_field_tag :q, params[:q], placeholder: 'Search',
                           class: 'form-control' %>
    <% end %>
  </div>
</div>

<div id="toc">
  <%= render 'toc' %>
</div>

<div id="results">
  <%= render 'results' %>
</div>
