<% provide(:body_id, 'format_id_guide_categories') %>
<% provide(:title, @page.name) %>

<ol class="breadcrumb">
  <li>
    <%= link_to 'Format ID Guide', format_id_guide_path %>
  </li>
  <li class="active"><%= @page.name %></li>
</ol>

<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-3">
    <%= render partial: 'search_field' %>
  </div>
</div>

<%= format_id_guide_html(@page.html) %>
