<% provide(:title, 'Glossary') %>
<% provide(:body_id, 'glossary') %>

<h1>Glossary</h1>

<ul>
  <% ('A'..'Z').each do |n| %>
      <li><a href="#<%= n %>"><%= n %></a></li>
  <% end %>
</ul>

<dl>
  <dt id="1-layer print">1-layer print</dt>
  <dd>An early era photographic print with no binder or baryta layer&mdash;simply image material on a paper support&mdash;is given this designation (popularized by James Reilly). Examples include the Salt Print, Cyanotype, and Platinum/Palladium Print.</dd>

  <dt id="2-layer print">2-layer print</dt>
  <dd>An early era photographic print with no baryta layer&mdash;simply image material in a binder layer on a paper support&mdash;is given this designation (popularized by James Reilly). Examples include the Albumen Print, Carbon Print, and Woodburytype (also regarded as a Photomechanical process).</dd>

  <dt id="3-layer print">3-layer print</dt>
  <dd>An early era photographic print with a baryta layer, binder, and image material on a paper support&mdash;is given this designation (popularized by James Reilly). Examples include the glossy Collodion Print, Matte Collodion Print, Gelatin POP Print, and Silver Gelatin Print.</dd>

  <a id="A"></a>

  <dt id="Abrasion">Abrasion</dt>
  <dd>Surface damage caused by friction, resulting in a scrape or scuff mark. In some cases, this may lead to information loss.</dd>

  <dt id="Acetate">Acetate</dt>
  <dd>A transparent plastic base for photographic film made by treating cellulose with acetic acid. This term is used for various modifications of cellulose acetate, e.g., cellulose diacetate, cellulose triacetate, cellulose acetate propionate, and cellulose acetate butyrate. Also referred to as &quot;safety&quot; film.</dd>

  <dt id="Acetate decay (vinegar syndrome)">Acetate decay (vinegar syndrome)</dt>
  <dd>Degradation of cellulose acetate film base that may cause distortion, shrinkage, and brittleness, often detected by a vinegar odor. The severity of decomposition can be determined using A-D Strips.</dd>

  <dt id="Acid">Acid</dt>
  <dd>Property of an item with a pH below 7.0. Some paper materials may become acidic as they age. Acidity is often a characteristic of older papers made from wood-based pulp that has not had its lignin removed. Acidic material will yellow over time, become brittle, and cause the pH of items in proximity to shift toward acidic pH levels. Exposure to light or heat hastens deterioration.</dd>

  <dt id="Acid-free">Acid-free</dt>
  <dd>Term used to describe paper and plastic products (and archival storage and display materials) with pH equal to 7.0 (neutral) or greater than 7.0 (alkaline). Slightly acidic paper (6.0 - 7.0 pH) is also sometimes called  &quot;acid-free.&quot; It was the creation of alkaline sizing in the 1950s that ultimately led to acid-free wood-based pulp papers. Acid-free enclosure products must be free of acid, lignin, alum, and sulfur. &quot;Acid-free&quot; does not necessarily mean that the material will maintain this pH over time.</dd>

  <dt id="A-D Strips">A-D Strips</dt>
  <dd>Indicator papers, manufactured by Image Permanence Institute (IPI), which change color when acetic acid is produced by degrading cellulose acetate base.</dd>

  <dt id="Albumen">Albumen</dt>
  <dd>A protein obtained from egg whites. Used as a binder for the image layer of photographic materials, especially from the 19th century.</dd>

  <dt id="Alkaline">Alkaline</dt>
  <dd>Property of an item to produce a basic pH (pH &gt;7.0). An alkaline reserve is added to some paper materials (called buffered papers) during manufacture intended to neutralize acid compounds contained in older papers.</dd>

  <dt id="Alum-rosin sizing">Alum-rosin sizing</dt>
  <dd>Method of sizing papers, rendering them more suitable for printing/writing by reducing liquid absorption capacity (no ink bleed/run). Alum-rosin was commonly used from the 1850s through the 1980s. Though effective, it is considered an &quot;inherent vice&quot; of papers of this era, as it lowered the paper’s pH and set the stage for browning/yellowing and embrittlement.</dd>

  <dt id="Aniline dye">Aniline dye</dt>
  <dd>Type of dye used in colored inks. Aniline dye was invented in 1856 and is derived from coal tar. Aniline ink is light sensitive and water-soluble. Aniline ink will commonly be violet or blue, but may be assumed to be in any color ink for documents and copies produced after the mid-1800s.</dd>

  <dt id="Archival quality">Archival quality</dt>
  <dd>A generic term used by the paper industry to indicate that a product (usually a housing or display material) is durable and will not cause harm to original collection materials. Note that the term &quot;archival&quot; may be used indiscriminately by manufacturers to describe their products and does not necessarily guarantee that the product meets ISO or ANSI guidelines.</dd>

</dl>
