<% provide(:title, 'Home') %>

<div id="main_panel" class="jumbotron">
  <p>I already have an account.</p>
  <%= link_to 'Sign in', signin_path,
              class: 'btn btn-lg btn-primary btn-block' %>
  <p>I don't yet have an account.</p>
  <%= link_to 'Sign up now!', new_user_path,
              class: 'btn btn-md btn-primary btn-block' %>
</div>
