<% provide(:title, 'Home') %>
<% provide(:body_id, 'landing') %>

<div class="row">
  <div class="col-sm-8">
    <p class="larger">The Preservation Self-Assessment Program (PSAP) is a free online tool that helps collection managers prioritize efforts to improve conditions of collections. Through guided evaluation of materials, storage/exhibit environments, and institutional policies, the PSAP produces reports on the factors that impact the health of cultural heritage materials, and defines the points from which to begin care.</p>
    <p class="larger"><%= link_to(raw('More&hellip;'), about_path, class: 'psap-modal-view', data: { open: about_path }) %></p>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <%= render partial: 'sessions/sign_in_form' %>
    </div>
  </div>
</div>
