<% provide(:title, 'Home') %>
<% provide(:body_id, 'landing') %>

<div class="row">
  <div class="col-sm-8">
    <div class="alert alert-info">
      <p><strong>November 21, 2016</strong>: The PSAP has been updated to include inorganic museum objects!
        In addition to some small functional changes to the site, the PSAP
        resources and assessment tool now cover ceramic, glass, stone, and
        metal object materials.</p>
    </div>

    <p class="larger">The Preservation Self-Assessment Program (PSAP) is a
      free online tool that helps collection managers prioritize efforts to
      improve conditions of collections. Through guided evaluation of
      materials, storage/exhibit environments, and institutional policies, the
      PSAP produces reports on the factors that impact the health of cultural
      heritage materials, and defines the points from which to begin care.</p>
    <%= link_to(raw('More&hellip;'), about_path, class: 'btn btn-default btn-md') %>
    &nbsp;
    <%= link_to(raw('Skip to Collection ID Guide'), collection_id_guide_path,
                class: 'btn btn-default btn-md') %>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <%= render partial: 'sessions/sign_in_form' %>
    </div>
  </div>
</div>
