<% provide(:title, 'Home') %>
<% provide(:body_id, 'landing') %>

<div class="row">
  <div class="col-sm-8">
    <div class="alert alert-warning">
      This is a beta version of the application. All functionality is in place,
      but some things may change. We will try to preserve the data that you
      create into the final version, but we make no guarantees, and all use is
      at your own risk. Feedback is welcome.
    </div>

    <p class="larger">The Preservation Self-Assessment Program (PSAP) is a free online tool that helps collection managers prioritize efforts to improve conditions of collections. Through guided evaluation of materials, storage/exhibit environments, and institutional policies, the PSAP produces reports on the factors that impact the health of cultural heritage materials, and defines the points from which to begin care.</p>
    <p class="larger"><%= link_to(raw('More&hellip;'), about_path) %></p>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <%= render partial: 'sessions/sign_in_form' %>
    </div>
  </div>
</div>
