<% # Similar to _resources. Used in the move-resource panel.
%>

<table class="table table-striped psap-entity-list">
  <tbody>
    <% if resources.any? %>
      <tr>
        <td>
          <input type="radio" name="resource[parent_id]" value="">
        </td>
        <td class="depth-0">
          <%= entity_icon(resources.first.location) %>
          Top level within <%= resources.first.location.name %>
        </td>
      </tr>
    <% end %>
    <%= render partial: 'resources/collection_tree_rows',
               locals: { resources: resources.
                       where(resource_type: ResourceType::COLLECTION).
                       where('id NOT IN (?)', exclude.id).order(:name),
                         exclude: exclude,
                         depth: 1 } if resources.any? %>
  </tbody>
</table>
