<div class="modal fade psap-edit-panel psap-inner-scrolling"
     id="psap-move-panel" data-backdrop="true" data-keyboard="true"
     tabindex="-1" role="dialog" aria-labelledby="moveModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% # Populated via XHR %>
    </div>
  </div>
</div>
