<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Type</th>
    <th>Complete</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'resources/resource_tree_rows',
             locals: { resources: resources.order(:name), depth: 0 } if resources.any? %>
  </tbody>
</table>
