<%
  # Accepts the following locals:
  # [Boolean] show_top_level
  # [Boolean] show_checkboxes
%>

<% if resources.respond_to?(:total_entries) %>
  <% # Will be read by PSAP.updateResultsCount() in JS %>
  <input type="hidden" name="results_count" value="<%= resources.total_entries %>">
<% end %>

<table class="table table-striped psap-entity-list">
  <thead>
    <tr>
      <% if show_checkboxes %>
        <th></th>
      <% end %>
      <th>Title</th>
      <th>Assessed</th>
    </tr>
  </thead>
  <tbody>
    <%= resources_as_tree_rows(@resources,
                               show_checkboxes: show_checkboxes,
                               show_top_level: show_top_level) %>
  </tbody>
</table>
