<% # Will be read by PSAP.updateResultsCount() in JS %>
<input type="hidden" name="results_count" value="<%= resources.total_entries %>">

<table class="table table-striped psap-entity-list">
  <thead>
  <tr>
    <% if show_checkboxes %>
      <th></th>
    <% end %>
    <th>Title</th>
    <th>Assessed</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'resources/resource_tree_rows',
             locals: { resources: resources.order(:name),
                       depth: 0,
                       show_checkboxes: show_checkboxes } if resources.any? %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate resources, renderer: BootstrapPagination::Rails %>
</div>
