<div class="section" id="<%= section.name.gsub('/', '_').gsub(' ', '_') %>"
     data-id="<%= section.id %>">
  <h2><%= section.name %></h2>
  <p><%= section.description %></p>
  <div class="section-questions"></div>
</div>
