<% provide(:title, @resource.name) %>
<% provide(:body_id, 'show_resource') %>

<div id="psap-resource-page-content">
  <%= render partial: 'show' %>
</div>

<%= render partial: 'shared/export_panel' %>

<!-- Import From ArchivesSpace panel -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog"
     aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(resource_import_post_path(@resource), multipart: true,
                   method: 'post') do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="importModalLabel">Import Resources From ArchivesSpace</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="files">File(s) to Upload</label>
            <input type="file" id="files" name="files[]" multiple>
            <span class="help-block">PSAP supports ArchivesSpace EAD XML files.</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <input type="submit" value="Import" class="btn btn-primary">
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Edit panel -->
<div class="modal fade" id="psap-edit-panel" data-backdrop="static"
     data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editModalLabel">Edit Resource</h4>
      </div>
      <div class="modal-body" id="psap-edit-form-container">
        <%= render partial: 'edit_form' %>
      </div>
    </div>
  </div>
</div>
