

H1	{
	font-size: 50px;
	color: black;
	text-align:center;
	
}
	
BODY {
	color: black;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	line-height: 145%;
	font-size: 14pt;
	background:#F2F2F2;
}

hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
.textbox {
    border-radius: 15px 50px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 460px;
    height: 120px; 
    margin: 0 auto;
    
}


.textbox2 {
    border-radius: 15px 50px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 460px;
    height: 150px; 
    margin: 0 auto;
}

.textbox3 {
    border-radius: 15px 50px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 460px;
    height: 90px; 
    margin: 0 auto;  
}


input {
    background-color: #9999CC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: poiner;
     border:none;
}

img {
max-width:100%;
max-height:100%;
}