/* Twitter Bootstrap is the foundation of the style. */
@import "bootstrap";

/*
Fix for Bootstrap menus appearing only once
http://stackoverflow.com/questions/13036223/twitter-bootstrap-menu-only-opens-and-closes-once
*/
.collapse {
  position:relative;
  height:0;
  overflow:hidden;
  -webkit-transition:height 0.35s ease;
  -moz-transition:height 0.35s ease;
  -o-transition:height 0.35s ease;
  transition:height 0.35s ease;
}
.collapse.in {
  height:auto;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family:Calibri, sans-serif;
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

h1 { font-size:2em }
h2 { font-size:1.66em  }
h3 { font-size:1.33em }
h4 { font-size:1em }
h5 { font-size:0.9em }
h6 { font-size:0.8em }

table caption {
  color:$gray;
  font-weight:700;
  margin-top:1em;
  text-align:left;
  font-size:1.1em;
}

/* header */

header {
  border-bottom:1px solid $gray-lighter;
  height:90px;
  margin:0px 0px 20px 0px;
  padding:0px;
}

header h1#title a {
  color:black;
  font-weight:normal;
  margin:0em;
  text-decoration:none;
}

header h1#title span#subtitle a {
  color:#808080;
  font-size:0.5em;
  font-style:italic;
  font-weight:normal;
}

header img#title_logo {
  float:left;
  margin-right:1em;
}

header div.btn-group {
  margin:0px;
}


/* sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

div.login_form {
  margin:0 auto;
  width:30%;
}

div#registration_form {
  width:30%
}

#error_explanation {
  color: #f00;
  ul {
    margin: 0 0 18px 18px;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
