body#dashboard {
  small {
    color: #606060;
  }
  .panel-body {
    max-height:20em;
    overflow-y:scroll;
  }
  div.institution_association {
    input[type=submit], a {
      margin:1.8em auto;
      width:80%;
    }
  }
  .psap-user-list {
    margin:0px;
    padding:0px;
    li {
      list-style-type:none;
    }
    li:first-child {
      margin-top:0px;
    }
    li:last-child {
      margin-bottom:0px;
    }
  }
  .psap-mini-entity-list {
    margin-left:1.5em;
    text-indent:-1em;
  }
}

body#dashboard_welcome {
  div#associate {
    form {
      margin:0 auto;
      width:70%;
      input, a, select {
        margin:1em 1em 1em 0em;
      }
    }
  }
}
