body#events {
  a.level_button {
    margin:0px 0.3em 0px 0.3em;
  }
  span.label {
    padding:0.3em;
    text-transform:uppercase;
  }
  span.badge {
    background-color:$gray-light;
    margin-left:0.6em;
    margin-top:0.1em;
  }
  a.active span.badge {
    background-color:white;
  }
}
