body#format_id_guide {
  .affix {
    margin: 0 10% 0 0;
    width:21.8%;
    top:70px;
  }
}

body#format_id_guide_page {
  h2 a, h3 a, h4 a, h5 a, h6 a {
    color:black;
  }
  hr {
    margin-top:3em;
  }
  figure {
    display:inline-block;
    margin:1em;
    figcaption {
      display: none;
    }
  }
  img, video {
    margin-bottom:1em;
  }
  ul.toc {
    margin:1.5em 0em 2em 2em;
    padding-left:0em;
  }
  table {
    margin:1em 0em 1em 0em;
  }
  dd {
    margin:0px 0px 1em 1em;
  }

  .mfp-with-zoom {
    figure {
      display:block;
      figcaption {
        display: inline;
      }
    }
    img {
      max-width: 98%; /* max height is set in the js resize callback */
    }
  }
  .mfp-close {
    display:none;
  }
  /* add fade transition to Magnific Popup backdrop */
  .mfp-with-zoom .mfp-container,
  .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .mfp-with-zoom a {
    color: #d0e0ff;
  }
  .mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
  }

  .mfp-with-zoom.mfp-removing .mfp-container,
  .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
  }
}

body#format_id_guide_results {
  form.psap-live-search { /* overrides common.css.scss */
    input.active {
      background:#FFFFFF url(image_path('progress-indicator-16.gif')) no-repeat 185px 8px;
      @include image-2x('progress-indicator-16@2x.gif', 16px, 16px);
    }
  }
  mark {
    background-color:yellow;
    font-weight:bold;
  }
  td:first-child {
    vertical-align: middle;
  }
  td:nth-child(2) {
    font-size:1.5em;
    min-width:200px;
    vertical-align: middle;
  }
}
