body#format_id_guide_categories {
  img {
    max-width:100%;
  }
  .fancybox-title a {
    color: #d0e0ff;
  }
  hr {
    margin-top:3em;
  }
  ul.toc {
    margin-left:2em;
    margin-top:2em;
    padding-left:0em;
  }
  .img-thumbnail {
    margin:0px 5px 10px 5px;
  }
}
