body#format_id_guide {
  .affix {
    margin: 0 10% 0 0;
    width:21.8%;
    top:70px;
  }
}

body#format_id_guide_page {
  h2 a, h3 a, h4 a, h5 a, h6 a {
    color:black;
  }
  hr {
    margin-top:3em;
  }
  figure {
    display:inline-block;
    margin:1em;
    figcaption {
      display: none;
    }
  }
  .fancybox-title a {
    color: #d0e0ff;
  }
  img, video {
    margin-bottom:1em;
  }
  ul.toc {
    margin:1.5em 0em 2em 2em;
    padding-left:0em;
  }
  .img-thumbnail {
    margin:0px 5px 10px 5px;
  }
  table {
    margin:1em 0em 1em 0em;
  }
  dd {
    margin:0px 0px 1em 1em;
  }
}

body#format_id_guide_results {
  form.psap-live-search { /* overrides common.css.scss */
    input.active {
      background:#FFFFFF url(image_path('progress-indicator-16.gif')) no-repeat 185px 8px;
      @include image-2x('progress-indicator-16@2x.gif', 16px, 16px);
    }
  }
  mark {
    background-color:yellow;
    font-weight:bold;
  }
  td:first-child {
    vertical-align: middle;
  }
  td:nth-child(2) {
    font-size:1.5em;
    min-width:200px;
    vertical-align: middle;
  }
}
