body#new_format, body#edit_format {
  table {
    th {
      text-align:center;
    }
    td {
      padding: 0.5em;
    }
  }
}

body#show_format {
  .col-sm-4 {
    table {
      th, td {
        text-align: center;
      }
    }
  }
}
