body#show_institution {
  svg {
    overflow: visible; /* prevent axis labels from getting cut off */
  }

  .axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-family: Arial;
    font-size: 13px;
  }
  .tick {
    stroke-dasharray: 1, 2;
  }
  /* these should be kept in sync with AssessmentQuestionsHelper.css_color_for_score */
  .bar-0 { fill: #d00000; } /* red */
  .bar-10 { fill: #d00000; } /* red */
  .bar-20 { fill: #d42800; }
  .bar-30 { fill: #d85000; }
  .bar-40 { fill: #dc7800; }
  .bar-50 { fill: #e0a000; } /* orange */
  .bar-60 { fill: #aba000; }
  .bar-70 { fill: #70a000; }
  .bar-80 { fill: #38a000; }
  .bar-90 { fill: #00a000; } /* green */
}
