body#show_institution {
  form {
    max-width:100%; /* override */

    select#score_direction {
      display:inline;
      max-width:12em;
    }
    input#score {
      display:inline;
      width: 4em;
    }
    .psap-buttons {
      float:right;
    }
  }

  .axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
  }
  .axis text {
    font-family: Arial;
    font-size: 13px;
  }
  .tick {
    stroke-dasharray: 1, 2;
  }
  .bar {
    fill: blue;
  }

}
