body#show_location {
  div#moveModal div.modal-body {
    ul {
      font-weight:bold;
      list-style:none;
      margin-left:0px;
      padding-left:0px;
      ul {
        margin-left:1.5em;
        label {
          font-weight: normal;
        }
      }
    }
  }
}
