body#new_resource, body#edit_resource {
  div#sections {
    display:none;
  }
}

body#show_resource div.assessment {

  dt.depth-1, dd.depth-1 { padding-left:1.5em; }
  dt.depth-2, dd.depth-2 { padding-left:3em; }
  dt.depth-3, dd.depth-3 { padding-left:4.5em; }
  dt.depth-4, dd.depth-4 { padding-left:6em; }
  dt.depth-5, dd.depth-5 { padding-left:7.5em; }
  dt.depth-6, dd.depth-6 { padding-left:9em; }
  dt.depth-7, dd.depth-7 { padding-left:10.5em; }
  dt.depth-8, dd.depth-8 { padding-left:12em; }
  dt.depth-9, dd.depth-9 { padding-left:13.5em; }

  ul {
    list-style:none;
    margin-left:0.2em;
    padding:0px;
    li {
      overflow:visible;
      padding-left:1.2em;
      position:relative;
    }
    li:before {
      content: '\2022';
      left:0;
      position:absolute;
    }
    li.selected {
      color:green;
      font-weight:bold;
    }
    li.selected:before {
      content: '\2713';
      left:0;
      position:absolute;
    }
  }
}
