body#glossary div#page_content, div.modal-body {
  ul {
    margin:1em 0em 1em 0em;
    padding:0px;
    text-align:center;
  }
  li {
    display:inline;
  }
  li + li::before {
    color:$gray-light;
    content:' | ';
    padding: 0.5em;
  }
}
