body#edit_user {
  div#institution {
    input, a {
      margin: 0.5em;
    }
  }
}

body#show_user {
  span.label {
    padding:0.3em;
    text-transform:uppercase;
  }
  #psap-institution-change-alert {
    .btn {
      margin-top: 1em;
      margin-right: 1em;
    }
  }
}
