<% provide(:title, 'New Location') %>
<% provide(:body_id, 'new_location') %>

<% breadcrumbs = []
   breadcrumbs << { 'Institutions' => institutions_path } if current_user.is_admin?
   breadcrumbs << { @location.repository.institution.name => @location.repository.institution }
   breadcrumbs << { @location.repository.name => @location.repository }
   breadcrumbs << 'New Location' %>
<%= breadcrumbs(breadcrumbs) %>

<div class="psap-page-title">
  <h1>New Location</h1>
</div>

<%= form_for(@location, class: 'psap-assessment',
             url: repository_locations_path(@location.repository)) do |f| %>
  <%= render partial: 'basic_info_form', locals: { f: f } %>
  <%= f.submit 'Create Location', class: 'btn btn-primary' %>
<% end %>
