<footer class="footer">
  <small>
    <%= link_to 'About PSAP', about_path %>
  </small>
  <!--
  <nav>
    <ul>
      <li><%= link_to 'About PSAP', about_path %></li>
    </ul>
  </nav>
  -->
</footer>
